
.text-block-2 {
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.body {
	border-style: solid;
	border-style: transparent;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #b6bcce;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.footer-link:hover {
  border: 1px solid #37456c;
  color: #fff;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  margin: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #b2b5be;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #061237;
}

.social-icon:hover {
  background-color: #fff;
  color: #1355ff;
}

.section-footer {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 40px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgba(7, 67, 141, 0);
}

.footer-logo {
  width: 124px;
  margin-bottom: 10px;
}

.footer-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-large {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-footer {
  max-width: 600px;
  margin-bottom: 0px;
  color: #dadde7;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.icon-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-21 {
  padding-top: 3px;
  border-radius: 4px;
}

.div-block-23 {
  border-radius: 4px;
}

.image-22 {
  border-radius: 8px;
}

.paragraph-5 {
  margin-top: 10px;
}

.paragraph-6 {
  margin-top: 10px;
}

.paragraph-7 {
  margin-top: 10px;
}

.paragraph-8 {
  margin-top: 10px;
}

.imagen-wraper-xq-tener {
  margin-right: auto;
}

.icon-2 {
  color: #07438d;
}

.icon-3 {
  color: #07438d;
}

.left-arrow {
  position: absolute;
}

.right-arrow {
  position: absolute;
}

.slider-2 {
  height: 50vh;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #fff;
}

.slide-5 {
  background-color: #fff;
}

.slide-6 {
  background-color: #fff;
}

.slide-7 {
  background-color: #fff;
}

.slide-8 {
  background-color: #fff;
}

.slide-9 {
  background-color: #fff;
}

.slide-10 {
  background-color: #fff;
}

.slide-11 {
  background-color: #fff;
}

.flex-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-name-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  color: #122456;
  font-size: 35px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.div-block-24 {
  width: 50vw;
}

.paragraph-9 {
  font-size: 20px;
  line-height: 110%;
}

.paragraph-10 {
  font-size: 20px;
}

.paragraph-11 {
  font-size: 20px;
}

.paragraph-12 {
  font-size: 20px;
}

.paragraph-13 {
  font-size: 20px;
}

.div-block-26 {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.text-block-6 {
  font-size: 14px;
}

.text-block-7 {
  font-size: 14px;
}

.text-block-8 {
  font-size: 14px;
}

.text-block-9 {
  font-size: 14px;
}

.text-block-10 {
  font-size: 14px;
}

.text-block-11 {
  font-size: 14px;
}

.text-block-12 {
  font-size: 14px;
}

.text-block-13 {
  font-size: 14px;
}

.text-block-14 {
  font-size: 14px;
}

.text-block-15 {
  font-size: 14px;
}

.text-block-16 {
  font-size: 14px;
}

.text-block-17 {
  font-size: 14px;
}

.text-block-18 {
  font-size: 14px;
}

.text-block-19 {
  font-size: 14px;
}

.heading-copy-beneficios {
  font-family: 'Playfair Display', sans-serif;
  color: #07438d;
  font-size: 45px;
  line-height: 110%;
  font-weight: 900;
  text-align: center;
}

.heading-copy-beneficios.center {
  text-align: right;
}

.icon-social-insta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-social-insta:hover {
  color: #ff1327;
}

.div-block-27 {
  background-image: url('../images/hero-min.png');
  background-position: 50% 50%;
  background-size: cover;
}

.herob {
  height: 750px;
  background-image: url('../images/hero-min.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-footer-copy {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 40px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgba(7, 67, 141, 0);
}

.team-moto-card {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 30%;
  padding-right: 5px;
}

.heading-quote {
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: hsla(0, 0%, 90%, 0.85);
  font-family: 'Playfair Display', sans-serif;
  color: #07438d;
  font-size: 20px;
  line-height: 110%;
  font-style: italic;
  font-weight: 900;
  text-align: center;
}

.heading-3 {
  padding-top: 100px;
  font-family: 'Playfair Display', sans-serif;
  color: #07438d;
  font-size: 45px;
  line-height: 110%;
  font-weight: 900;
  text-align: center;
}

.heading-3.left {
  padding-top: 40px;
  text-align: left;
}

.heading-3.right {
  text-align: right;
}

.image-24 {
  display: block;
  margin-top: 120px;
}

.section-7 {
  width: 70vw;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.youtube {
  width: 100%;
  border-radius: 20px;
}

.div-block-28 {
  position: absolute;
  left: 0%;
  top: 82%;
  right: 0%;
  bottom: auto;
}

.video {
  border-radius: 10px;
}

.div-block-29 {
  width: 65vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/fake-window.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: contain;
  object-fit: contain;
}

.html-embed {
  position: relative;
  left: 73px;
  top: 89px;
}

.video-2 {
  top: 71px;
  width: 100%;
}

.youtube-2 {
  top: 49px;
  width: 100%;
  height: 90%;
}

.heading-4 {
  margin-top: 60px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #272727;
  text-align: center;
}

.div-block-30 {
  margin-top: 23px;
}

.div-block-31 {
  margin-top: 26px;
}

.div-block-32 {
  margin-top: 29px;
}

.div-block-33 {
  margin-top: 20px;
}

.div-block-34 {
  margin-top: -15px;
}

.paragraph-14 {
  font-size: 20px;
}

.paragraph-15 {
  font-size: 20px;
}

.paragraph-16 {
  font-size: 20px;
}

.paragraph-17 {
  font-size: 20px;
}

.paragraph-18 {
  font-size: 20px;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 720px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.video-control-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.video-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-regular {
  position: relative;
  padding: 92px 5%;
}

.video-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 4px;
  margin-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #1a1a1a;
}

.video-button:hover {
  color: #4255bd;
}

.video-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-link {
  overflow: hidden;
  width: 100%;
  height: 472px;
  margin-bottom: 14px;
  border-radius: 20px;
}

.container-x-small {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
}

.heading-detail-section {
  margin-bottom: 8px;
  color: #b2b2b2;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: normal;
}

.icon-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-control-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-large-2 {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.paragraph-large-2.text-weight-semibold {
  font-weight: 600;
}

.paragraph-small {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.button-rounded {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: #4255bd;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.heading-content {
  margin-top: 0px;
  margin-bottom: 24px;
  color: #1a1a1a;
  font-size: 64px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    display: inline-block;
    max-width: 100vw;
  }

  .hero {
    background-position: 100% 50%;
    background-size: contain;
  }

  .div-block-3 {
    background-size: contain;
  }

  .cruz-a1 {
    margin-top: -160px;
    margin-left: -90px;
  }

  .cruz-a2 {
    margin-top: -160px;
    margin-left: -90px;
  }

  .cruz-a3 {
    margin-top: -160px;
    margin-left: -90px;
  }

  .cruz-a4 {
    margin-top: -160px;
    margin-left: -90px;
  }

  .cruz-c {
    left: 50px;
    top: 652px;
  }

  .circulo-1 {
    left: 227px;
    margin-top: -183px;
    margin-left: -212px;
  }

  .cruz-b {
    left: 520px;
    margin-left: 86px;
  }

  .circulo-2 {
    left: 626px;
    top: 208px;
    margin-left: 72px;
  }

  .button-2 {
    left: 20px;
    margin-top: -164px;
  }

  .button-2.button-3 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: -10%;
    text-align: center;
  }

  .heading {
    left: 20px;
    top: 120px;
    margin-top: -20px;
  }

  .container-4 {
    padding-right: 3%;
    padding-left: 3%;
  }

  .paragraph {
    left: 20px;
    margin-top: -124px;
  }

  .container-5 {
    max-width: 1400px;
  }

  .brand {
    margin-left: 0px;
  }

  .icon {
    font-size: 40px;
  }

  .aseguradoras-flex-grid {
    margin-bottom: 0px;
  }

  .section-2 {
    margin-top: -157px;
    background-color: rgba(57, 166, 248, 0.1);
  }

  .heading-copy {
    left: 20px;
    top: 120px;
    margin-top: -65px;
    margin-left: 233px;
    padding-left: 40px;
    font-size: 35px;
    text-align: right;
  }

  .en-mgm {
    margin-right: 60px;
    padding-top: 65px;
  }

  .en-mgm.flex {
    margin-top: auto;
    margin-right: auto;
    padding-top: 0px;
  }

  .paragraph-3 {
    margin-left: 297px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 21px;
    font-size: 20px;
    text-align: right;
  }

  .div-block-5 {
    margin-right: auto;
  }

  .section-3 {
    margin-top: 100px;
    margin-bottom: 0px;
  }

  .circle-opacidad-70._50.h {
    width: 10px;
  }

  .circle-opacidad-70._50.i {
    width: 10px;
  }

  .circle-opacidad-70._40.j {
    width: 10px;
  }

  .circle-opacidad-70._40.k {
    width: 10px;
  }

  .circle-opacidad-70._30.l {
    width: 10px;
  }

  .circle-opacidad-70._20.m {
    width: 10px;
  }

  .circle-opacidad-70._20.n {
    width: 10px;
  }

  .circle-opacidad-70._10.o {
    width: 10px;
  }

  .circle-opacidad-70._10.p {
    width: 10px;
  }

  .circle-opacidad-70._5.q {
    width: 10px;
  }

  .circle-opacidad-70._80.f {
    width: 10px;
  }

  .circle-opacidad-70._90.d {
    width: 10px;
  }

  .circle-opacidad-70._90.e {
    width: 10px;
  }

  .circle-opacidad-70._90.e._1 {
    width: 10px;
  }

  .circle-opacidad-70._100.a {
    width: 10px;
  }

  .circle-opacidad-70._100.b {
    width: 10px;
  }

  .circle-opacidad-70._100.c {
    width: 10px;
  }

  .circle-opacidad-70.g {
    width: 10px;
  }

  .div-block-16 {
    margin: -153px auto auto -24px;
    opacity: 0.7;
  }

  .section-4 {
    height: auto;
  }

  .heading-copy-2 {
    left: 20px;
    top: 120px;
    margin-top: -65px;
    margin-left: 233px;
    padding-left: 40px;
    font-size: 35px;
  }

  .librito {
    height: 50vh;
    padding: 20px;
  }

  .camera {
    overflow: visible;
    width: auto;
    height: auto;
  }

  .frame {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-copy-3 {
    left: 20px;
    top: 120px;
    padding-right: 0px;
    font-size: 35px;
  }

  .flex {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .porque-tener {
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .frame-2 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .frame-3 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-spacer {
    margin-top: 40px;
  }

  .section-process {
    padding-bottom: 140px;
  }

  .grid-process-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .process-content {
    margin-top: 30px;
  }

  .pricing-section {
    background-position: 0px 0px, 50% 0%;
    background-size: auto, auto;
  }

  .grid-pricing {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-grid {
    padding-bottom: 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .title-wrap {
    margin-bottom: 40px;
  }

  .faq-grid {
    grid-row-gap: 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-8 {
    margin-top: 40px;
  }

  .section-footer {
    padding-bottom: 40px;
  }

  .footer-link-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .image-21 {
    width: 15%;
  }

  .heading-copy-beneficios {
    left: 20px;
    top: 120px;
    padding-right: 0px;
    font-size: 35px;
  }

  .section-footer-copy {
    padding-bottom: 40px;
  }

  .heading-quote {
    left: 20px;
    top: 120px;
    margin-top: -20px;
  }

  .div-block-29 {
    position: relative;
    top: -170px;
  }

  .youtube-2 {
    top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .container-3 {
    max-height: 98px;
  }

  .cruz-a1 {
    margin-top: 301px;
    margin-left: 131px;
  }

  .cruz-a2 {
    margin-top: 301px;
    margin-left: 131px;
  }

  .cruz-a3 {
    margin-top: 301px;
    margin-left: 131px;
  }

  .cruz-a4 {
    margin-top: 301px;
    margin-left: 131px;
  }

  .circulo-1 {
    left: 141px;
    top: 514px;
    margin-top: 37px;
    margin-left: -69px;
  }

  .cruz-b {
    display: none;
    margin-top: -1px;
    margin-left: 58px;
  }

  .circulo-2 {
    display: none;
    margin-top: -4px;
    margin-left: 19px;
  }

  .button-2 {
    left: 10%;
    top: auto;
    right: 10%;
    bottom: 0%;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
  }

  .button-2.button-3 {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .heading {
    font-size: 40px;
  }

  .paragraph {
    margin-top: -114px;
  }

  .nav-link-2.contact {
    margin-left: 0px;
  }

  .nav-link-2.button {
    text-align: center;
  }

  .brand {
    margin-left: 13px;
  }

  .icon {
    font-size: 40px;
  }

  .menu-button {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .image-5 {
    position: relative;
    left: 96px;
    top: 219px;
  }

  .heading-2 {
    font-size: 25px;
  }

  .section-2 {
    margin-top: -104px;
  }

  .heading-copy {
    margin: 0px auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
  }

  .en-mgm {
    margin-top: 169px;
    margin-right: auto;
    margin-left: auto;
  }

  .en-mgm.flex {
    padding-top: 40px;
  }

  .paragraph-3 {
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    text-align: center;
  }

  .div-block-5 {
    margin-top: 0px;
    margin-right: 3px;
    margin-left: auto;
  }

  .section-3 {
    margin-top: -22px;
  }

  .div-block-6 {
    opacity: 0.3;
  }

  .div-block-16 {
    display: none;
  }

  .heading-copy-2 {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
  }

  .heading-copy-3 {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    font-size: 30px;
    text-align: left;
  }

  .section-process {
    padding-bottom: 200px;
  }

  .process-content {
    margin-top: 60px;
  }

  .grid-process-stacked {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .team-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .team-name {
    font-size: 20px;
  }

  .footer-wrapper {
    margin-bottom: 60px;
  }

  .image-21 {
    width: 20%;
  }

  .slider-2 {
    height: 82vh;
  }

  .flex-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .team-name-heading {
    font-size: 20px;
  }

  .div-block-25 {
    margin-right: auto;
    margin-left: auto;
  }

  .image-23 {
    width: 40vw;
  }

  .paragraph-9 {
    font-size: 18px;
  }

  .heading-copy-beneficios {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    font-size: 30px;
    text-align: left;
  }

  .heading-quote {
    font-size: 40px;
  }

  .div-block-29 {
    top: -82px;
  }

  .youtube-2 {
    top: 23px;
  }

  .video-control-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-regular {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .lightbox-link {
    height: 340px;
  }

  .video-control-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .heading-content {
    font-size: 48px;
  }
}

@media screen and (max-width: 479px) {
  .cruz-a1 {
    margin-top: 155px;
    margin-left: -50px;
  }

  .cruz-a2 {
    margin-top: 155px;
    margin-left: -50px;
  }

  .cruz-a3 {
    margin-top: 155px;
    margin-left: -50px;
  }

  .cruz-a4 {
    margin-top: 155px;
    margin-left: -50px;
  }

  .cruz-c {
    left: 283px;
    top: 279px;
  }

  .circulo-1 {
    left: 392px;
    top: 275px;
  }

  .button-2 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-top: -10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading {
    font-size: 30px;
  }

  .paragraph {
    top: 336px;
    font-size: 15px;
  }

  .nav-link-2 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #07438d;
    color: #fff;
  }

  .menu-button {
    border-radius: 4px;
  }

  .menu-button.w--open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #07438d;
  }

  .heading-2 {
    font-size: 25px;
  }

  .heading-copy {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-size: 25px;
    text-align: center;
  }

  .en-mgm {
    margin-top: -489px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
  }

  .en-mgm.flex {
    margin-top: 0px;
    padding-top: 0px;
  }

  .paragraph-3 {
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
  }

  .div-block-5 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-3 {
    margin-top: 0px;
  }

  .div-block-6 {
    opacity: 0.3;
  }

  .circle-opacidad-70._50.h._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._50.i._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._40.j._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._40.k._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._30.l._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._80.f._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70._90.e._1 {
    opacity: 0.1;
  }

  .circle-opacidad-70.g._1 {
    opacity: 0.1;
  }

  .div-block-16 {
    margin-top: -329px;
  }

  .section-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-17 {
    padding-bottom: 20px;
  }

  .div-block-18 {
    padding-bottom: 20px;
  }

  .heading-copy-2 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 30px;
    text-align: center;
  }

  .heading-copy-3 {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    font-size: 25px;
    line-height: 110%;
    text-align: center;
  }

  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .porque-tener {
    width: 100%;
  }

  .button-standard {
    text-align: center;
  }

  .h3-heading {
    font-size: 48px;
  }

  .card-process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-large {
    font-size: 18px;
    line-height: 30px;
  }

  .process-icon {
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .pricing-feature-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .question-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .footer-link {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .footer-link-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cruz-wraper {
    display: none;
  }

  .paragraph-9 {
    font-size: 15px;
  }

  .paragraph-10 {
    font-size: 18px;
  }

  .paragraph-11 {
    font-size: 18px;
  }

  .paragraph-12 {
    font-size: 18px;
  }

  .paragraph-13 {
    font-size: 18px;
  }

  .heading-copy-beneficios {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    font-size: 25px;
    line-height: 110%;
    text-align: center;
  }

  .heading-quote {
    font-size: 30px;
  }

  .youtube-2 {
    top: 13px;
  }
}

