html,
body {
  background: whitesmoke;
  background: radial-gradient(circle, whitesmoke 0%, #d9ddec 100%);
  block-size: 100%;
  font-family: "Nunito", sans-serif;
}

div {
  min-block-size: 100%;
  display: grid;
  place-items: center;
}

svg {
  inline-size: 592px;
}

.options {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-start: 10px;
  background: #333;
  color: #fff;
  inline-size: 260px;
}
.options p {
  padding: 5px 15px;
}
.options h2 {
  color: #fff;
  margin: 5px 0;
  padding: 10px;
  background: #000;
}
.options a {
  color: #fff;
  text-decoration: underline;
}

#hour-hand,
#minute-hand,
#chrono-second-hand {
  transform-origin: 50%;
}

#date-ones-disc {
  transform-origin: 311px 439px;
}

#date-tenth-disc {
  transform-origin: 279.9px 397.3px;
}

#month-hand,
#year-disc,
#chrono-hours-hand {
  transform-origin: 367px 492px;
}

#moonphase-disc {
  transform-origin: 50% 553.5px;
}

#day-hand,
#day-night-indicator-disc,
#chrono-minute-hand {
  transform-origin: 224.4px 492px;
}

#power-reserve-disc {
  transform-origin: 182px 425.3px;
}

#chrono-primary {
  transition: transform 0.05s ease;
}
#chrono-primary.active {
  transform: translate(-2px, 1px);
}

#chrono-secondary {
  transition: transform 0.05s ease;
}
#chrono-secondary.active {
  transform: translate(-2px, -1px);
}

#crown {
  transition: transform 0.05s ease;
  transform-origin: 90% 50%;
}
#crown.active {
  transform: translateX(2px);
}
